<div class="container min-vh-100 text-center">
  <h1 class="display-4 heading align-items-center">Book Store App</h1>

  <div class="row cards justify-content-center align-items-center">
    <div
      class="col-md-4 col-sm-12 d-flex justify-content-center mb-2"
      routerLink="/Authors"
    >
      <div class="card" style="width: 20rem">
        <img
          src="../../../assets/Images/Authors.svg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Authors</h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-2">
      <div
        class="card justify-content-center"
        style="width: 20rem"
        routerLink="/Authors"
      >
        <img
          src="../../../assets/Images/Books.svg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Books</h5>
        </div>
      </div>
    </div>
  </div>
</div>
